* {
  padding: 0;
  margin: 0;
}

$enabled-operation-color: #16b101bf;
$disabled-operation-color: #f13c3cbd;
$enabled-current-operation-color: #126406;
$disabled-current-operation-color: #9c0707;

.cursor-pointer {
  cursor: pointer;
}

.font-size-25px {
  font-size: 25px;
}
