* {
  padding: 0;
  margin: 0;
}


$enabled-operation-color: #16b101bf;
$disabled-operation-color: #f13c3cbd;
$enabled-current-operation-color: #126406;
$disabled-current-operation-color: #9c0707;

.cursor-pointer {
  cursor: pointer;
}

.font-size-25px {
  font-size: 25px;
}

.card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 14px rgba(11, 69, 132, 0.15);
}

.text-white-700
{
  color: white;
  font-weight: 700;
}

.text-size-12
{
  font-size: 12;
}