.group-operation {
  list-style-type: none;

  .group-operation_item .group-operation_box {
    width: 100%;
    display: inline-flex;
    padding: 10px 20px;

    .group-operation_label {
      flex: auto;
    }
  }

  .group-operation_item.group-operation_item--box-shadow {
    background: #fff;
    box-shadow: 0 4px 14px rgba(11, 69, 132, 0.15);
    margin-top: 10px;
    border-radius: 10px;
  }
}
