<template>
  <a-layout-sider
    v-model:collapsed="collapsed"
    breakpoint="lg"
    collapsed-width="0"
    @collapse="onCollapse"
    @breakpoint="onBreakpoint"
    collapsible
  >
    <a-menu theme="dark" v-model:selectedKeys="selectedKeys" mode="inline">
      <!-- Image -->
      <image-sidebar-view :collapsed="collapsed"> </image-sidebar-view>

      <!-- Menu -->
      <a-menu-item key="menu1">
        <pie-chart-outlined />
        <span>Dashboard</span>
      </a-menu-item>
      <a-sub-menu key="submenu1">
        <template #title>
          <span>
            <user-outlined />
            <span>Users</span>
          </span>
        </template>
        <a-menu-item key="innersubmenu1"
          ><router-link to="/admin/roles">Roles</router-link></a-menu-item
        >
        <a-menu-item key="innersubmenu2"
          ><router-link to="/admin/permissions">Perrmission</router-link></a-menu-item
        >
        <a-menu-item key="innersubmenu3"
          ><router-link to="/admin/security-matrix">Security Matrix</router-link></a-menu-item
        >
      </a-sub-menu>
    </a-menu>
  </a-layout-sider>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue'
  import { PieChartOutlined, UserOutlined } from '@ant-design/icons-vue'
  import ImageSidebarView from '@/components/Admin/Layout/Sidebar/ImageSidebarView.vue'

  export default defineComponent({
    name: 'SidebarView',
    components: {
      PieChartOutlined,
      UserOutlined,
      ImageSidebarView
    },
    setup() {
      const onCollapse = (collapsed: boolean, type: string) => {
        console.log(collapsed, type)
      }

      const onBreakpoint = (broken: boolean) => {
        console.log(broken)
      }

      return {
        collapsed: ref<boolean>(false),
        selectedKeys: ref<string[]>(['4']),
        onCollapse,
        onBreakpoint
      }
    }
  })
</script>

<style scoped>
  #components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  .site-layout-sub-header-background {
    background: #fff;
  }

  .site-layout-background {
    background: #fff;
  }

  [data-theme='dark'] .site-layout-sub-header-background {
    background: #141414;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .logo .logo-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
  }
</style>
