// Header
.header-componenent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 0 50px;

    .header-componenent__logo img {
        width: 80px;
        height: auto;
    }
    
    .header-componenent__page
    {
        a{
            text-decoration:  none;
            color: white;
            
        }
    }
  }